#prvi, #drugi, #treci {
    border: 1px solid #f6f6f6;
    padding: 10px;
}

#drugi-tab {
	display: none;
}

table {
	font-size: 12px;
}

datalist {
   overflow-y: auto;
}

.trenutni {
	background: #222222;
}

.hidden {
	display: none;
}